src/conf/xml-resources/jaxb/Userinfo/userinfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Userinfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="order" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="voucheritem" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <!--Cost per voucher -->
                    <xs:element name="amount"  type="xs:unsignedLong"   minOccurs="1" maxOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ordertotals" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <!--Total number of vouchers requested for order-->
                    <xs:element name="numvouchers"    type="xs:unsignedLong"   minOccurs="1" maxOccurs="1"/>
                    <!--Total amount for order = item.amount x numvouchers-->
                    <xs:element name="totalamount"    type="xs:unsignedLong"   minOccurs="1" maxOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <!--Notification email address-->
        <xs:element name="email"          type="xs:string"         minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
